<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <h1>Lab exercices 9.Acceleration</h1>
    <div>x:{{acceleration[0]}},y:{{acceleration[1]}},z:{{acceleration[2]}}</div>

  </div>
</ion-content>
